/* GENERAL */

body{
    background-color: hsl(217, 54%, 11%);
}

/* CARD */

#cardWrapper{
    width : 25%;
    border-radius :10px;
    background-color:hsl(216, 50%, 16%);
    margin:80px auto auto auto;
    padding : 25px;
}

/* IMAGE (cube) */
.container{
    position: relative;
    width: 100%;
}

#cube{
    border-radius: 10px;
    display: block;
    width: 100%;
    height: auto;
}

#overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: hsl(178, 100%, 50%);
  border-radius: 10px;
}

.container:hover #overlay {
  opacity: 0.8;
  cursor: pointer;
}

#eye-icon{
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

/* PORTRAIT (author */

#portrait{
    width:10%;
    border-radius:50px;
    border: white 1px solid;
}

/* FONTS COLOR + FAMILY + SIZING */
h1{
    font-weight: 600;
    font-size: 18px;
    font-family: "Outfit", sans-serif;
    padding-top: 10px;
}

em,h1{
    color:white;
}

p,#daysLeft,#author{
    color:hsl(215, 51%, 70%);
}

#eth{
    color:hsl(178, 100%, 50%);
}

p,#author{
    font-family: "Outfit", sans-serif;
    font-weight: 300;
    font-size: 18px;
}

#eth,#daysLeft{
    font-size: 16px;
    font-family: "Outfit", sans-serif;
    font-weight: 300;
}

/* DETAILS */ 

#details-wrapper{
    display:flex;
    justify-content: space-between;
    border-bottom: solid 0.5px hsl(215, 51%, 70%);
    padding-bottom: 20px;
}

/* AUTHORS NAME */
em{
    font-style: normal;
    margin-left:-13px;
}

/* AUTHORS NAME + PORTRAIT CONTAINER */

#author{
    display : flex;
    align-items: center;
    gap: 18px;
    padding-top : 25px;
}

/* :HOVER */
#cube:hover{
    opacity : 10;
}

h1,em:hover{
    color:hsl(178, 100%, 50%);
}

#cube,h1,#eth,em:hover{
    cursor:pointer;
}



/* MEDIA : MOBILE */

@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
    #cardWrapper{
        min-width:80%;
        margin-top: 80px;
    }
    }

/* MEDIA : TABLETS */

@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {
    #cardWrapper{
        min-width:80%;
        margin-top: 80px;
    }
    }




